.text-box{
  margin: 20px;
  padding: 100px;
  
  
}
h1{
  font-size: xxx-large;
  font-style: italic;
  font-weight: bolder;
  
}

body{
  background-image: url("images/backimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.sidebar {
  width: 30%;
  height: 80;
  float: none;
  font-size: 18p
}
.form {

  display: inline;
  display: inline-block;
}